<div class="about-div">
    <h1>Hello!</h1>
    <h3>My name is Gabriele Marchetti and i live in Sondrio, a small city in the extreme north of Italy.<br>
        I am a backed developer with an hobby for photography, especially for travel and landscape photography.<br>
        I dont really like social media, so i built this website to collect and share my photos and also to improve my coding skills.<br>
        All of the photos in here are made with a smartphone (currenty the Samsung A52) and edited with Lightroom Mobile.<br>
        Maybe you are asking yourself: Why dont u use a pro 5000$ camera that take up all the space in your backpack? Because im poor<br>
        and also because i think that smathphone today can take really good quality images.
    </h3>
    <h2>- The best photocamera is the one thats with you - Chass Jarvis</h2>
    <h4>Uh, for those one interested the website is made with Spring Boot, MySql and Angular</h4>
</div>
